
body {
    background-image: url("http://www.baltana.com/files/wallpapers-4/Rain-Background-HQ-Desktop-Wallpaper-14526.jpg");
    background-size: cover; 

  }

  .box {
    display: inline-block;       
    border: 1px solid black;
    width: 15px;
    height: 15px;
    margin-left: 0px;
    margin-bottom: 0px;
    transition: transform .2s;
  }
  
  .off {
    background-color: transparent;
  }
  
  .on {
    background-color: blue;
  }
    
  .box:hover { 
    background: #00CCFF;
    transform: scale(1.5);
  }
  
  .center {
    margin-left: 5%;
    display: table;
    margin-top: 10px;
  }
  
  .grid {
    line-height: 0;
    margin-left: 5%;
    box-shadow: 0px 0px 20px white;
    margin-top: 10px;
    border: 10px;
  }
  .listStyle {
  color: black;
  }
  h1, h2, h3, h4 {
    color: white;
    font: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    margin-left: 2%;
    margin-bottom: 0%;
    text-align: center;
    width: 30%;
  }
  
  .credit {
    margin-top: 7%;
    margin-bottom: 1%;  
    margin-left: 1%;
  }

  .button {
    background-color: green; /* Green */
    border: 2px;
    color: white;
    margin: 5px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
    padding: 5px 5px 5px 5px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    transition: transform .2s;
    box-shadow: 0px 0px 5px white;
  }
  
  .button:hover {
    background-color: black;
    transform: scale(1.2);
  }

  .placeHolder {     
    margin-right: 5%;
    float: right;
    vertical-align: middle;
    display: table-cell;
  }
  